body{
	background-color: lightblue;
}
.my-own-class{
	background-color: greenyellow;
	color: #fff;
}
.footer{
	background-color: red;
	height: 10vh;
	border: 5px solid black;
	width: 100%;
}
.col1{
	background-color: purple;
	color: yellow;
	border:solid 6px white;
}



.nestingcol{
	background-color: blue;
	height: 10vh;
	color: #fff;
}

.nestingcol2{
	background-color: pink;
	height: 10vh;
	color: #fff;
}

.smallcol{
	background-color: grey;
	color: white;
}

.smallcol2{
	background-color: orange;
}


.my-own-f{
	background-color: grey;
}